@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #459A9F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
}

body {
  background: #ffffff;
  color: #459A9F;
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
}
